@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    ViewBag.Title = "Estoque - Entrada";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/IndexAdministrador?usuario_id=@ViewBag.UsuarioID">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Estoque/Lista?usuario_id=@ViewBag.UsuarioID">Estoque</a></li>
        <li class="breadcrumb-item active" aria-current="page">Entrada</li>
    </ol>
</nav>

<div class="jumbotron">
    <h3>Entrada de produtos no estoque</h3>
    <p class="lead">
        Cadastro de entrada de produtos no estoque.
    </p>
    <hr class="my-4">
    <p>Para acessar a lista de entrada dos produtos cadastros clique no botão abaixo.</p>
    <a class="btn btn-primary" href="~/Estoque/Lista?usuario_id=@ViewBag.UsuarioID" role="button">Ir para lista de entrada de produtos</a>
</div>

<form>
    <div class="form-group row">
        <label for="entrada_estoque_id" class="col-sm-2 col-form-label">Codigo:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="entrada_estoque_id" placeholder="" values="" readonly disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="entrada_estoque_id_produto" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
            <select class="form-control" id="entrada_estoque_id_produto">
                <option value="">Selecione um produto...</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="entrada_estoque_quantidade" class="col-sm-2 col-form-label">Quantidade:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="entrada_estoque_quantidade" placeholder="Informe a quantidade">
        </div>
    </div>
    <div class="form-group row">
        <label for="produto_especificacoes" class="col-sm-2 col-form-label">Data:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="entrada_estoque_data" placeholder="Informe a data de entrada">
        </div>
    </div>
    <div class="form-group row">
        <label for="entrada_estoque_ultima_alteracao" class="col-sm-2 col-form-label">Ultima alteração:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="entrada_estoque_ultima_alteracao" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")" readonly disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="entrada_estoque_responsavel" class="col-sm-2 col-form-label">Responsável:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="entrada_estoque_responsavel" value="" readonly disabled>
        </div>
    </div>

    <div class="form-group row p-3" id="content_form_button">
        <a href="javascript:void(0);" class="btn btn-success mr-2" id="btn_entrada_estoque_salvar">Salvar</a>
        <a href="javascript:void(0);" class="btn btn-danger" id="btn_entrada_estoque_cancelar">Cancelar</a>
    </div>

    <div class="form-group row d-none" id="content_form_message">
        <label class="alert alert-success" id="message_success">
            Entrada no estoque salva com sucesso. Clique <a href="~/Estoque/Entrada?usuario_id=@ViewBag.UsuarioID">aqui</a> para realizar um novo cadastro.
        </label>
        <label class="alert alert-danger" id="message_fail">Falha ao registrar a entrada no estoque.</label>
    </div>

    <div class="form-group row d-none" id="content_form_loader">
        <img src="~/Content/images/loader.gif" />
    </div>
</form>

<script src="~/Scripts/ViewModel/ViewModelEntradaEstoque.js"></script>
<script src="~/Scripts/Views/Estoque/Entrada.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Entrada.Initialize('@ViewBag.API_URL', '@ViewBag.UsuarioID');
    });
</script>
