@{
    Layout = "~/Views/Shared/_LayoutAtendente.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Doggis PetShop</h1>
    <p class="lead">Área destinada a administração da Doggis PetShop.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Vendas & Agendamentos</h3>
        <p>Realize Vendas e Agendamentos de serviços.</p>
        <p><a class="btn btn-primary w-100 text-left" href="Venda/Cadastro">Nova VENDA</a></p>
        <p><a class="btn btn-primary w-100 text-left" href="Agendamento/Cadastro">Novo AGENDAMENTO</a></p>
    </div>
    <div class="col-md-4">
        <h3>Produtos & Serviços</h3>
        <p>
            Administração dos Produtos e Serviços.
        </p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Produtos/Cadastro">Cadastro de PRODUTOS</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Produtos/Cadastro">Cadastro de SERVIÇOS</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Produtos/Cadastro">Cadastro de VETERINÁRIOS</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Produtos/Cadastro">Cadastro de ATENDENTES</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Produtos/Cadastro">Cadastro de ADMINISTRADORES</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Produtos/Cadastro">Cadastro de PROMOÇOES</a></p>
    </div>
    <div class="col-md-4">
        <h3>Clientes & Pets</h3>
        <p>Administração dos Clientes e seus Pets.</p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Clientes/Cadastro">Novo CLIENTE</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Clientes/Cadastro">Novo PET</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Clientes/Cadastro">CLIENTES cadastrados</a></p>
        <p><a class="btn btn-outline-primary w-100 text-left" href="Clientes/Cadastro">PETS cadastrados</a></p>
        <hr />
        <p><a class="btn btn-outline-warning w-100 text-left" href="Pataz/Consulta">Consulta de PATAZ</a></p>
    </div>
</div>