@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    ViewBag.Title = "Agendamento - Cadastro";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/IndexAdministrador?usuario_id=@ViewBag.UsuarioID">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Agendamento/Lista?usuario_id=@ViewBag.UsuarioID">Agendamentos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
    </ol>
</nav>

<div class="jumbotron">
    <h3>Cadastro de agendamentos</h3>
    <p class="lead">
        Cadastro de novos agendamentos.
    </p>
    <hr class="my-4">
    <p>Para acessar a lista dos agendamentos cadastros clique no botão abaixo.</p>
    <a class="btn btn-primary" href="~/Agendamento/Lista?usuario_id=@ViewBag.UsuarioID" role="button">Ir para lista de agendamentos</a>
</div>

<form>
    <div class="form-group row">
        <label for="agendamento_id" class="col-sm-2 col-form-label">Codigo:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="agendamento_id" placeholder="" values="" readonly disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="agendamento_id_cliente" class="col-sm-2 col-form-label">Cliente:</label>
        <div class="col-sm-10">
            <select type="text" class="form-control" id="agendamento_id_cliente">
                <option value="">Selecione um cliente...</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="agendamento_id_pet" class="col-sm-2 col-form-label">Pet:</label>
        <div class="col-sm-10" id="content_agendamento_pet">
            <label class="alert alert-info">Selecione um cliente.</label>
        </div>
    </div>
    <div class="form-group row">
        <label for="agendamento_id_servico" class="col-sm-2 col-form-label">Serviço:</label>
        <div class="col-sm-10">
            <select type="text" class="form-control" id="agendamento_id_servico">
                <option value="">Selecione um serviço...</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="agendamento_id_funcionario" class="col-sm-2 col-form-label">Funcionário:</label>
        <div class="col-sm-10" id="content_agendamento_funcionario">
            <label class="alert alert-info">Selecione um serviço.</label>
        </div>
    </div>

    <div class="form-group row">
        <label for="agendamento_data_inicio" class="col-sm-2 col-form-label">Data início:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="agendamento_data_inicio" placeholder="Selecione uma data de início" values="">
        </div>
    </div>

    <div class="form-group row">
        <label for="agendamento_hora_inicio" class="col-sm-2 col-form-label">Hora início:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="agendamento_hora_inicio" placeholder="Selecione uma hora de início" values="">
        </div>
    </div>

    <div class="form-group row">
        <label for="agendamento_ultima_alteracao" class="col-sm-2 col-form-label">Ultima alteração:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="agendamento_ultima_alteracao" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")" readonly disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="agendamento_responsavel" class="col-sm-2 col-form-label">Responsável:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="agendamento_responsavel" value="" readonly disabled>
        </div>
    </div>

    <div class="form-group row p-3" id="content_form_button">
        <a href="javascript:void(0);" class="btn btn-success mr-2" id="btn_agendamento_salvar">Salvar</a>
        <a href="javascript:void(0);" class="btn btn-danger" id="btn_agendamento_cancelar">Cancelar</a>
    </div>

    <div class="form-group row d-none" id="content_form_message">
        <label class="alert alert-success d-none" id="message_success">
            Agendamento salvo com sucesso. Clique <a href="~/Agendamento/Cadastro?usuario_id=@ViewBag.UsuarioID">aqui</a> para realizar um novo cadastro.
        </label>
        <label class="alert alert-danger d-none" id="message_fail">Falha ao registrar o agendamento.</label>
        <label class="alert alert-warning d-none" id="message_fail_detail">O funcionário já possui um agendamento nesta data e horário.</label>
    </div>

    <div class="form-group row d-none" id="content_form_loader">
        <img src="~/Content/images/loader.gif" />
    </div>
</form>

<script src="~/Scripts/ViewModel/ViewModelCadastroAgendamento.js"></script>
<script src="~/Scripts/Views/Agendamento/Cadastro.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Cadastro.Initialize('@ViewBag.API_URL', '@ViewBag.UsuarioID');
    });
</script>
