@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    ViewBag.Title = "Agendamento - Lista";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home/IndexAdministrador?usuario_id=@ViewBag.UsuarioID">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agendamentos</li>
    </ol>
</nav>

<div class="jumbotron">
    <h3>Lista de agendamentos</h3>
    <p class="lead">
        Lista com todos os agendamentos cadastrados
    </p>
    <hr class="my-4">
    <p>Para registrar um novo agendamento clique no botão abaixo.</p>
    <a class="btn btn-primary" href="~/Agendamento/Cadastro?usuario_id=@ViewBag.UsuarioID" role="button">Novo agendamento</a>
</div>

<table class="table d-none" id="table_agendamentos">
    <thead>
        <tr>
            <th scope="col" class='text-center'>#</th>
            <th scope="col" class='text-center'>Codigo</th>
            <th scope="col" class='text-left'>Cliente</th>
            <th scope="col" class='text-left'>Pet</th>
            <th scope="col" class='text-left'>Serviço</th>
            <th scope="col" class='text-left'>Funcionário</th>
            <th scope="col" class='text-left'>Início</th>
            <th scope="col" class='text-left'>Término</th>
            <th scope="col" class='text-left'>Notificação</th>
            <th scope="col" class='text-left'>Cancelamento</th>
            <th scope="col" class='text-center'>Opções</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="d-none" id="content_list_message">
    <label class="alert alert-danger" id="message_fail">Falha ao carregar lista de agendamentos.</label>
</div>

<div class="row d-none" id="content_list_loader">
    <img src="~/Content/images/loader.gif" />
</div>


<script src="~/Scripts/Views/Agendamento/Lista.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Lista.Initialize('@ViewBag.API_URL', '@ViewBag.UsuarioID');
    });
</script>